.custom-navbar {
    background-color: #222831;
    color: #f1f1f1;
    padding: 10px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    display: flex;
    align-items: center;
    color: #f1f1f1;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
}

.navbar-brand .logo {
    height: 40px;
    margin-right: 10px;
}

.navbar-toggler {
    border: none;
    color: #f1f1f1;
}

.navbar-nav .nav-link {
    color: #f1f1f1;
    margin: 0 15px;
    font-size: 1rem;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #00adb5;
}

.btn-outline-light {
    border: 1px solid #f1f1f1;
    color: #f1f1f1;
}

.btn-outline-light:hover {
    background-color: #00adb5;
    border-color: #00adb5;
    color: #ffffff;
}

.user-icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.page-title {
    text-align: center;
    background-color: #f8f9fa; /* Fundal deschis */
    padding: 20px 0;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-title h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #222831; /* Culoare întunecată */
    margin: 0;
}

.add-device-btn {
    background-color: #007bff;
    border-color: #007bff;
    font-size: 14px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.3s ease;
}

/* Stil notificări */
.navbar-notifications {
    position: relative;
    margin-right: 15px;
}

.notification-btn {
    background-color: transparent;
    border: none;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 0.3s;
}

.notification-btn:hover {
    color: #00adb5;
}

.notification-btn i {
    font-size: 24px;
}

.notification-count {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    padding: 2px 6px;
    display: none; /* Ascuns inițial */
}

/* Afișare notificare când sunt valori */
.notification-btn[data-unread="true"] .notification-count {
    display: inline;
}

/* -----------------Stil notificări */

/* CERCUL DE LA ROUTER STATISTICS*/

.status-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

#statusContainer {
    text-align: center;
    margin-top: 20px;
}

#statusCircle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    line-height: 50px;
}

#statusText {
    margin-top: 10px;
    font-size: 16px;
    color: white;
}



/* CERCUL DE LA ROUTER STATISTICS*/

/* TABELUL CU DAATE DE LA ROUTER STATISTICS*/
#routerDetailsTable {
    margin: auto;
    width: 80%; /* Ajustează lățimea tabelului după preferințele tale */
    border-collapse: collapse;
    color: rgb(0, 0, 0);
}

#routerDetailsTable th, #routerDetailsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    background-color: #f2f2f2;
}

#routerDetailsTable th {
    background-color: #f2f2f2;
}
/* TABELUL CU DAATE DE LA ROUTER STATISTICS*/



/* CaRDs de la bgp statistics */
.stat-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.stat-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
.stat-card .value {
    font-size: 32px;
    font-weight: bold;
}
.stat-card .description {
    font-size: 14px;
    color: #666;
}
.stat-card .icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: green;
}

.edit-highlight {
    border: 2px solid #007bff !important;
    background-color: #e6f2ff !important;
    transition: 0.3s;
}

.d-none {
    display: none !important;
}

/* CaRDs de la bgp statistics */