{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Example</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<header>
    <a>BGP Statistics</a>
</header>
<body>
 <!-- Navigation -->
 <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a href="#" class="col-xs-4 navbar-brand">Logo</a>
    <ul class="col-xs-4 navbar-nav mx-auto">
        <li class="nav-item"><a href="/monitor/bgp-stats" class="nav-link">BGP Statistics</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link 2</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link 3</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Link 4</a></li>
    </ul>
 </nav>
 <div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="stat-card">
                <div class="icon">👥</div>
                <div class="value" id="num-peers">Loading...</div>
                <div class="description">Număr de Peers</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stat-card">
                <div class="icon">🌐</div>
                <div class="value" id="num-prefixes-ipv4">Loading...</div>
                <div class="description">Număr de Prefixe IPv4</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <h3>Peer Data</h3>
            <table class="table table-bordered" id="peer-table">
                <thead>
                    <tr>
                        <th>Neighbor IP</th>
                        <th>IPv4 Prefixes</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="col-md-4">
            <h3>Top Peers (Prefixes Received)</h3>
            <ul class="list-group" id="top-peers-list"></ul>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$(document).ready(function() {
    function fetchBGPStats() {
        $.ajax({
            url: '/monitor/api/get-bgp-stats/',
            method: 'GET',
            success: function(data) {
                $('#num-peers').text(data.num_peers);
                $('#num-prefixes-ipv4').text(data.num_prefixes_ipv4);
            },
            error: function() {
                $('#num-peers').text('Error');
                $('#num-prefixes-ipv4').text('Error');
            }
        });
    }
    
    function fetchBGPPeers() {
        $.ajax({
            url: '/monitor/api/get-unique-prefixes/',  // Asigură-te că URL-ul corespunde cu ruta configurată în Django pentru funcția ta
            method: 'GET',
            success: function(data) {
                var peerTableBody = $('#peer-table tbody');
                peerTableBody.empty();
                
                data.prefixes.forEach(function(prefix) {
                    peerTableBody.append(
                        '<tr>' +
                            '<td>' + prefix.network_with_mask + '</td>' +
                            '<td>' + prefix.as_number + '</td>' +
                        '</tr>'
                    );
                });
            },
            error: function() {
                console.error('Error fetching BGP peers data');
            }
        });
    }
    
    // Apelăm funcțiile la fiecare 30 de secunde
    setInterval(fetchBGPStats, 30000);
    setInterval(fetchBGPPeers, 30000);
    
    // Apelăm funcțiile imediat ce pagina se încarcă
    fetchBGPStats();
    fetchBGPPeers();
});
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
